__pycache__/
pm25_tiles_tokyo/
.venv/
.env/
..venv/
venv/*
env/
..__pycache__/
.__pycache__/
..ali/
static/MERRA2_400.tavg1_2d_aer_Nx.20250901.nc4
./static/MERRA2_400.tavg1_2d_aer_Nx.20250901.nc4
.DS_Store
